# Node
node_modules
npm-debug.log
yarn-error.log

# Build artifacts
dist
.angular
out-tsc

# IDEs
.idea
.vscode
*.swp
*.swo
*~

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Docs
README.md
DEPLOY.md

# K8s
k8s
*.sh

# Tests
coverage
.nyc_output
*.spec.ts
